/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

 body{
   background-color: #919095;
   background-image: url("dark_embroidery.png");
   font-family: 'Oxygen';
   b{
     color: #3BDBF0;
   }

 }

 .jumbotron{
   background-color: #E0E0E7;
  //  background-color:rgba(0, 0, 0.4, 0.7);
 }

 #alt_jumbo{
   background-color: #0D191D;
   h3{
     color:#3BDBF0;
   }
   h2{
     color:#fff;
   }
 }

 .table{
   background-color: #E0E0E7;
   b{
     color:#000;
   }
   p{
     color:#fff;
   }

 }
